---
title: Questions fréquentes (FAQ)
---

<div class="welcome text-center padded-double">
  <h1>Questions fréquentes</h1>
</div>

<div class="container">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Quel service propose le site et à quel prix ?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	        Réponse 1
	      </div>
	    </div>
	  </div>
	  <% data.faqs.each do |faq| %>
		  <div class="panel panel-default">
		      <div class="panel-heading" role="tab" id="headingTwo">
		        <h4 class="panel-title">
		          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= faq.collapse %>" aria-expanded="false" aria-controls="collapseTwo">
		          	<%= faq.question %>
		          </a>
		        </h4>
		      </div>
		      <div id="<%= faq.collapse %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		        <div class="panel-body">
		          <%= faq.answer %>
		        </div>
		      </div>
		    </div>
	  <% end %>
	</div>
</div>

<div class="text-center">
	<%= link_to 'Nous contacter', '/#', :class => "btn btn-lg btn-white" %>
</div>